html {
 font-size: 10px;	
}

/*
@media only screen and (min-width: 600px) {
	html {
		font-size: 10px;
}
*/
body {
	font-family: sans-serif;
}

/*-------------header------------------------------------------*/

.logo {
	font-size:24px;
	color:white;
	text-decoration:none;
}

.logo:hover{
	background-color: transparent;
	color: #3AB2BA;
}
/*-------------heroimage-----*/
.hero {
	background-size: 100% 100%;
	height:680px;
	background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),
    url(../img/background/hero.jpg);
  	background-size: cover;
	background-repeat: no-repeat;
    color:#FFFFFF;
}


header h1 {
	color: #FFFFFF;
	font-size: 5.0rem;
	font-family: sans-serif ;
    margin-bottom: 30px;
    margin-top: 40px;

}

header p {
    margin-bottom: 70px;
    margin-right: 0px;
}

.buttongris{
	background-color:#2D323A;
	text-decoration:none;
	border:none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 15px;
    margin-right: 35px;
}

.buttontransp{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/*-------------nav-----------*/
.navbar{
	margin-bottom: 0%;
}
.navbar-default .navbar-toggle{
	border-color: transparent;
	margin-left: 20px;
}


@media (max-width: 600px) {
  .navbar-header img {
    margin-left: 25%; 
    width: 40%;
    height: 40%;
  }
}

.navbar-default{
	background-color: transparent;
	border-color:transparent;
	margin-top: 2.0rem;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight:bold;
}
.navbar-default .navbar-nav > li > a:hover{
	background-color: transparent;
	color: #3AB2BA;
}
/*-------------features--------------------------------------*/

.ion-map , 
.ion-paper-airplane ,
.ion-clipboard ,
.ion-earth ,
.ion-flash-off ,
.ion-levels {
	font-size:48px;
	color: #3AB2BA;
}

#features{
	padding-bottom:600px;
}


/*-------------Morefeaturesimg----------------------------------*/
#morefeaturesimg  {
background-color: rgb(244, 244, 244);;
}
 #morefeaturesimg img{
 	width:900px;
    margin:auto;
 }

/*-------------Morefeaturestxt----------------------------------*/

.ion-erlenmeyer-flask , 
.ion-ios-speedometer , 
.ion-android-boat , 
.ion-ios-pie , 
.ion-android-archive , 
.ion-trophy {
	font-size:30px;
	color: #3AB2BA;
	float:right;
}
#morefeaturestxt h3 {
	margin-top:5px;
	margin-bottom:0px;
}


/*--------------portafolio----------------------------------*/
/*-----

/*layout*/

/*items*/
#portafolio  {
background-color: rgb(244, 244, 244);;
}

.portfolio{
	padding-top: 2em;
	clear: both;
}
.menu{
	padding: .3em .3em;
}
.wrap{
	padding: .3em;
}
img{width: 100%;
	opacity: 1;
	transition: opacity .6s;}

figure{
	float: left;
	position: relative;
	line-height: 0;
	padding: .6em;
	cursor: pointer;
}
.img-wrap:before{
	content: '';
	position: absolute;
	top: .6em;
	left: 1em;
	right: 1em;
	bottom: .6em;
	background-color: rgba(255,255,255,.7);
	opacity: 0.5;
	transition: opacity 2s,
	background-color .4s; 
}
.img-wrap:hover:before{
	background-color: rgba(0,11,63,1);
	opacity: 0;
}

nav{
	margin-top: 45px;
}
nav ul li {
	display: inline;
  text-align:center;
}
nav ul li a{
	text-decoration: none;
	padding: .5em 1.5em.5em;
	color: #444;
	font-size: 18px;
	font-family: sans-serif;
	transition: color .6s, background-color .2s;
}
nav ul li a:hover{
	background-color:  #3AB2BA;
	color: white;
}
.active a{
	border: solid 1px #3AB2BA;
	color: #3AB2BA;
}

@media only screen and (min-width: 600px) {
	
	nav{
		text-align: center;}
}

.caja {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: white;
}









































































/*----------------------------Call--------------------*/
#call {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../img/background/city.jpg);
    background-size: cover;
	background-repeat: no-repeat;

	padding: 9% 0 10%;
}
.frase {
	font-size: 2.2rem;
	color: white;
	font-weight: 400;
	
}
#call button {
	border: none;
	margin-top: 5%;
	padding: 12px 20px;
}
@media only screen and (min-width: 600px) {
	
}
/*------------Pricing-----------------*/
#pricing {
	padding: 10px 0 60px;
}
.package {
	padding: 35px 15px 40px;
}
.paquete {
	padding: 35px 0;
}
#pricing h3 {
	margin: 0;
	font-size: 2.8rem;
}
.price {
	padding: 45px 0;
	margin-bottom: 30px;
}
.price p{
	color: #555;
	font-size: 1.8rem;
}
.precio {
	font-size: 3rem;
	color: #555;
}
.descripcionpaq p {
	color: #888;
	padding: 15px 0;
	margin:0;
}
.mginferior {
	border-bottom: 1px solid #f2f2f2;
}
.boton {
	padding: 15px 0;
}
#pricing button {
	font-size: 1.8rem;
	padding: 10px 25px;
}
@media only screen and (min-width: 600px) {
	.pd-esp {
		padding: 40px 10px;
	}
}

/*-----------------Testimonio-------------------*/
#testimonio img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 40px;
	margin-bottom: 15px;
}
#testimonio p {
	width: 72%;
	margin: auto;
	padding-bottom: 20px;
}
.firma {
	font-size: 1.4rem;
	font-weight: bold;
}
@media only screen and (min-width: 600px) {
	#testimonio {
		padding: 40px 0;
	}
}
/*---------------------contactus------------------*/
#contactus {
	 background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../img/background/contactus.jpg);
	padding: 10px 0;
}
#contactus h2 {
	margin-bottom:40px;
}
.textocontacto {
	margin-bottom: 0;
}
input {
	width: 100%;
	border: none;
	padding: 15px 10px;
	margin: 10px 0;
	font-size: 1.6rem;
	background-color: rgba(191, 191, 191, 0.3);
}
.mensaje {
	padding-bottom: 100px;
}
.submit {
	border: none;
	background-color: #0dc0c0;
	padding: 15px 0;
	width: 35%;
	color: white;
	font-weight: bold;
	font-size: 1.6rem;
}
.submit:hover {
	box-shadow: 0 0 10px rgba(208, 251, 251, 0.9);
}
.about h3 {
	margin-bottom: 30px;
}
.textoabout {
	font-size: 1.4rem;
}
@media only screen and (min-width: 600px) {
	#contactus {
		padding: 20px 10px 50px;
	}
	.submit {
		width: 25%;
	}
	.about {
		padding-left: 70px;
	}
}
