






/*-------------header--------*/


































































































/*----------------------------Call--------------------*/
#call {
    background-image: url(../img/background/city.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	
	
	
    }




